
**/node_modules/**
**/config.js
**/package-lock.json
**/package.json
**/testFile.js
**/testingFile.js
DiscordCMCB/guilds/nottriz.js
CMCB-massbanSys/**
**/twitch-tokens.json
OLD_TwitchCMCB/**
**/-----EXAMPLE-----.js
*.txt
TwitchCMCB/externalcommands/**
**/grabtoken.js
**/JSTests.js
TwitchCMCB/node_modules/**
DiscordCMCB/node_modules/**
**/tokens.json
*.ppk
