
**/node_modules/**
TwitchCMCB/externalcommands/massbansystem/**
TwitchCMCB/externalcommands/massunban.js
TwitchCMCB/config.js
**/package-lock.json
**/package.json
TwitchCMCB/node_modules/**
DiscordCMCB/config.json